# Ignore node_modules directory
node_modules/

# Ignore npm debug log files
npm-debug.log

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.iml
*.ipr
*.iws
.env.local

# Ignore Parcel specific files
.parcel-cache
dist/