@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

:root {
  --background-color: #c3b3a4;
  --font-color: #1d1b17;
  --dark-color: #232323;
  --dark-hover: #464545;
  --light-color: #f5f5f5;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}

header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

aside {
  padding-top: 4rem;
  background-color: var(--dark-color);
}

main {
  background-color: var(--background-color);
}

nav {
  background-color: var(--background-color);
  border-bottom: solid 1px var(--dark-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.fi {
  padding: 1.2rem;
}

.logo {
  height: 3.2rem;
  margin: 8px;
  margin-left: 10px;
}

.navigation,
.chat {
  float: left;
  height: calc(100vh - 139px);
  display: flex;
  flex-direction: column;
}

.aside-nav {
  height: 4rem;
  padding: 6px;
  padding-left: 2.8rem;
  display: flex;
  flex-direction: row;
  color: var(--light-color);
}

.aside-nav:hover {
  cursor: pointer;
  background-color: var(--dark-hover);
}

.chat {
  float: right;
}

.chat-title {
  margin-left: 2rem;
  color: var(--light-color);
}

.chat-card {
  margin: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--light-color);
  cursor: pointer;
  border-radius: 5px;
}

.chat-card:hover {
  background-color: var(--dark-hover);
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-name {
  color: var(--light-color);
}
